footer {
	color: white;
	background: black;
	min-height: 10vh;
	@include flex(center, center, column);
	h5 {
		font-size: 1.2rem;
		padding-top: 1rem;
	}
}

footer ul {
	@include flex(space-between, center, row);
	li {
		padding: 2rem;
	}
}

@media screen and (min-width: 1024px) {
	footer {
		flex-direction: row;
		justify-content: space-between;
		padding: 0rem 20rem 0rem 10rem;
		h5 {
			font-size: 2rem;
			font-weight: 400;
		}
	}
}
