* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
	background: $background-color;
}
body {
	font-family: 'Poppins', sans-serif;
}
h1 {
	font-size: $header1;
}

h2 {
	font-size: $header2;
}
h3 {
	font-size: $header3;
}
h4,
h5 {
	font-size: $header4;
}
ul {
	list-style: none;
}
li,
button,
label,
input,
a,
p {
	font-size: $text;
}
a {
	text-decoration: none;
	color: black;
}

@media screen and (min-width: 1024px) {
	.active {
		background: black;
		border-radius: 117px;
		a {
			color: #fcf42f;
			margin: 0rem;
		}
	}
}
