.store-img-wrapper {
	display: none;
}

.store-location {
	@include flex (center,center, column);
	padding: 7rem 0rem;
}

.store-location-card1,
.store-location-card2,
.store-location-card3 {
	background: black;
	color: white;
	width: 70%;
	margin: 1rem 0rem;
	padding: 2rem 4rem;

	img {
		width: 10%;
		float: right;
	}
	h3 {
		font-size: 2rem;
		text-align: center;
	}
	p {
		padding: 1rem 0rem;
	}
}
